.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    z-index: 10;
    overflow: auto;
    animation: lightBoxIn .5s ;
    transition: opacity .3s;
}

.lightbox__next,.lightbox__prev{
    border: none;
    background: url("chevron.svg") center center /16px 28px no-repeat;
    width: 50px;
    height: 100%;
    top: 0;
    position: fixed;
    margin-top: -14px;
    z-index: 11;
    right: 0;
    opacity: .5;
    cursor: pointer;
    transition: .3s
;
}

.lightbox__next:hover,.lightbox__prev:hover{
opacity: 1;
}

.lightbox__prev{
    right: auto;
    left: 0;
    transform: rotateZ(180deg);
}

.lightbox__close{
    border: none;
    width: 30px;
    height: 30px;
    background: url("cancel.svg") center center /100% 100% no-repeat transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 12;
}

.lightbox button{
    opacity: .5;
    transition: opacity .3s;
    outline: none;

}

.loading_page{
    z-index: 14;
}

.lightbox button:hover{
    opacity: 1;
}
.lightbox__container{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loader{
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url("loader.svg") center center no-repeat;
}

.lightbox__container img{
    max-width: 250px;

    height: auto;
    animation: lightBoxIn .5s ;
}
@keyframes lightBoxIn {
    from{opacity: .5}
    to{opacity: 1}

}

.lightbox.fadeOut{
    opacity: 0;
}

.grid img{
    height: 304.89px;
    width: 200px;
    object-fit: cover;
}

.loading_page{
    content: 'HEY';
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}